In [14]:
import sqlalchemy as sq
import pymysql

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import os
import csv

sq.__version__
plt.style.use('ggplot')

In [16]:
%matplotlib inline

In [2]:
import datetime

def convert_unixtime(stamp):
    return datetime.datetime.fromtimestamp(
        int(stamp)
    ).strftime('%Y-%m-%d')

In [3]:
db_connection = "mysql+pymysql://root:gcped!a@192.168.2.117:3306/elgg"

In [4]:
engine = sq.create_engine(db_connection,encoding='latin1', echo=False)

In [5]:
conn = engine.connect()

In [6]:
users = pd.read_sql_table('elggusers_entity', conn)

In [7]:
users.head()

,guid,name,username,password,salt,email,language,code,banned,admin,last_action,prev_last_action,last_login,prev_last_login
0,4,Jean Richard,Jean.Richard,79207219779ff5cf92dfb4285684f6b3,cd0e5bcf,jean.richard@tpsgc-pwgsc.gc.ca,en,ffcf3f98a58d3d1528bd1b18d3397c64,no,no,1251139572,1251139548,1251139182,1250514390
1,6,Charles de Grasse,charles.degrasse,b142e46240033ef9d8076439607ae796,1f39c5ae,charles.degrasse@tbs-sct.gc.ca,en,8b951c9ecedc7c92f1d4060208a39569,no,yes,1453152482,1453152169,1453150400,1453144931
2,7,Karl Ghiara,Karl.Ghiara,6521f6112b915f2d3fdc372e92b4acd4,36ac93b1,Karl.Ghiara@hc-sc.gc.ca,en,9c90fc078fac1030252054c95e4b01ec,no,no,1452124811,1452124810,1452094590,1446486470
3,19,Joel Racicot,Joel.Racicot,a5684592d102268a0a9de0e1f182fc23,d207433b,joel.racicot@canada.ca,en,,no,no,1448989324,1448989324,1448989318,1448294486
4,22,Bruno Grossmann,Bruno.Grossmann,affae0f9b7242df1c5a69eb252dbdd10,d43cc3d2,bruno.grossmann@international.gc.ca,en,,no,no,1451571830,1451571830,1451571142,1450735495

In [8]:
user_entities = pd.read_sql((
        "SELECT ue.guid, ue.name, ue.email, ue.last_action, e.time_created, e.time_updated, e.type FROM elggusers_entity ue, elggentities e WHERE ue.guid = e.guid"), conn)

In [11]:
user_entities.head()

,guid,name,email,last_action,time_created,time_updated,type
0,4,Jean Richard,jean.richard@tpsgc-pwgsc.gc.ca,2009-08-24 18:46:12,2008-12-15 16:14:56,2009-08-24 18:39:42,user
1,6,Charles de Grasse,charles.degrasse@tbs-sct.gc.ca,2016-01-18 21:28:02,2008-12-15 18:20:38,2016-01-18 20:53:20,user
2,7,Karl Ghiara,Karl.Ghiara@hc-sc.gc.ca,2016-01-07 00:00:11,2008-12-15 18:21:21,2016-01-06 15:36:30,user
3,19,Joel Racicot,joel.racicot@canada.ca,2015-12-01 17:02:04,2008-12-15 19:28:34,2015-12-01 17:01:58,user
4,22,Bruno Grossmann,bruno.grossmann@international.gc.ca,2015-12-31 14:23:50,2008-12-15 20:02:37,2015-12-31 14:12:22,user

In [10]:
user_entities['time_created'] = pd.to_datetime(user_entities['time_created'], unit='s')
user_entities['time_updated'] = pd.to_datetime(user_entities['time_updated'], unit='s')
user_entities['last_action'] = pd.to_datetime(user_entities['last_action'], unit='s')

In [36]:
user_entities.columns

Index(['guid', 'name', 'email', 'last_action', 'time_created', 'time_updated',
       'type'],
      dtype='object')

In [52]:
summary = pd.DataFrame(user_entities.time_created)

In [53]:
summary.plot()

TypeError: Empty 'DataFrame': no numeric data to plot

In [ ]:
groups = pd.read_sql_table('elgggroups_entity', conn)

In [ ]:
first_groups = groups.where(groups.name == "Innovation Group")

In [ ]:
first_groups.count()

In [ ]:
groups.head()

In [ ]:
# This doesn't work - table too big?
entities = pd.read_sql_table('elggentities', conn)

In [ ]:
entities.head()